.cart-style{
    position: fixed;
}
.red-order{
    color:maroon;
}
.Total-btn{
    background-color: goldenrod;
    color: black;
    font-size: 18px;
    border:1px solid gray;
    border-radius: 5px;
    width:150px;
    height:25px;
    cursor:pointer;
}